body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/* ---------NAV BAR-------- */
nav {
    background: rgba(0, 0, 0, 0.8);
    color: white;
  
}
nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    padding: 0.8rem
}
nav ul li {
    list-style: none; 
}

.icon{
    color: white;
    width: 50px;
    height: 50px;
}
/* ----------BUTTONS AND LINKS---------- */
.btn{
    margin-bottom: 1em;
    background-color: rgb(0, 113, 227);
    color: white;
    border: 0px;
    border-radius: 25px;
    padding: 10px 15px 10px 15px;
    font-size: 1em;
}
.btn:hover{
    border-left: 4px solid rgb(0,113,227);
    border-right: 4px solid rgb(0,113,227);
    transition: 0.5s;
    cursor: pointer;
}
.link {
    text-decoration: none;   
}
a:hover{
    cursor: pointer;
}
/* ------COLORS------- */
.blue {
    color: rgb(0,113,227);
}
.red{
    color: red;
}
.gray{
    color: rgb(81, 81, 84);
}
.white{
    color: white;
}
/* ------------------------------------------------- */

.main div{
    width: 100%;
    text-align: center;
    line-height: 1rem;
}

.title{
    font-size: 5em;
}
.macbook{
    margin-top: 4em;
    margin-bottom: 5em;
    width: 80vw;
}
.container{
    margin: auto;
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem; 
} 
.left, .right{
    background: rgb(242, 242, 242);
    text-align: center;
}
.left div, .right div{
    padding-top: 2rem;
    
}
.title2{
    font-size: 3rem;
    font-weight: 500;
}
.grid_img_left{
    width: 100%;
    margin-top: 4.5rem;
    
}
.grid_img_right{
    width: 65%;
    margin-top: 2rem;
}
.bottom{
    margin-top: 4rem;
    text-align: center;
    line-height: 0.5rem;
}
.box_img{
    width: 2.5rem;
    height: 2.5rem;
    margin: auto;
}

/* ---------FOOTER------ */

footer {
    background: rgb(245, 245, 247);
    color: rgb(81, 81, 84);

}
footer ul {
    display: flex;
    justify-content: left;
}
footer p {
    padding-left: 4.2rem;
}
footer ul li {
    list-style: none;  
    padding: 0rem 1.6875rem;
    border-right: 0.0625rem solid rgb(81, 81, 84);
}

@media only screen and (max-width: 500px) {
    nav ul {
        flex-direction: column;
    }
}
@media only screen and (max-width: 700px) {
    
    footer ul {
        height: 6.25rem;
        flex-direction: column;
        text-align: center;
    }
    footer p {
        text-align: center;
    }
}